// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron
{
  color: #0099FF;
  font-family: Avenir;
  text-align: center;
} 

.centered
{
    text-align:center;
}

h1 
{
  color: #0099FF;
  font-family: Avenir;
  text-align: center;
}

body 
{
  font-family: Avenir;
  text-align: center;
  font-size: large;
}